@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5rem;
}

.App {
    display: flex;
    flex-flow: column;
}

h1,
h2 {
    margin-bottom: 20px;
}

p {
    line-height: 1.2rem;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.feature-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.chevron-down {
    font-size: 30px;
    margin-top: 60px;
}


.background-image {
    background-image: url('../img/spider.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: scale(1);
    transition: transform 5s ease-in-out;
}

.background-image.zoomed {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}

.content {
    text-align: center;
    z-index: 1;
    position: relative;
    color: #fff;
    margin: 30px;
}

/* Additional styles for the content, such as headings, paragraphs, buttons, etc. */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: opacity 0.3s ease;
}

.navbar.scrolled {
    background-color: #000;
    opacity: 1;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
    .two-column-container {
        flex-direction: column;
    }
}

/* Image */
.responsive-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.responsive-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    border-radius: 6px;
}

.responsive-image:hover {
    filter: grayscale(0%);
}



footer {
    background-color: #222831;
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px 0;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

footer li {
    font-weight: bold;
    font-size: 0.8rem;
}

footer li:hover a,
footer li:focus a {
    cursor: pointer;
}


footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #00ADB5
}

/* Layout styling section*/

/* Columns */

/* 2 column */
.two-column-layout {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    justify-content: space-between;
}

.column {
    max-width: 50%;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Row */

/* standard */
.row-standard {
    width: 80%;
    margin: 60px auto;
}

.row-standard p {
    font-size: 16px;
}

.row-standard p {
    margin-bottom: 10px;
}

.About .responsive-image {
    max-height: 520px;
    width: auto;
}


/* Button Styles */
.btn {
    cursor: pointer;
    margin: 15px 10px 0 0;
    padding: 0 15px;
}


/* Pages styling */
/* About section */
.About .button-group {
    display: flex;
}

.About .column-left {
    text-align: justify;
}

/* media query */
@media screen and (max-width:768px) {
    .two-column-layout {
        flex-direction: column-reverse;
        align-items: center;
    }

    .two-column-layout .column {
        max-width: 100%;
    }

    footer {
        height: auto;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}