.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: opacity 0.3s ease;
}

.scrolled {
    background-color: #000;
    opacity: 1;
}

.navbarList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar .activeLink {
    color: #00adb5;
}