.sliderContainer {
    margin: -15px;
}

.slide {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.slideContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 250px;
}